html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", "Montserrat", "Roboto", "Titillium Web", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

/* ----- NAVBAR ----- */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.05));
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar--solid {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar .logo {
  padding: 25px;
  margin-right: auto;
  font-size: x-large;
}
.navbar .logo a {
  color: red;
  font-family: "Montserrat";
  font-weight: 900;
  scroll-behavior: smooth;
}
.navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 10px;
  color: white;
}
.navbar .nav-items .nav-item {
  margin: 10px;
  text-align: center;
}
.navbar .nav-items .nav-item a {
  color: white;
}

/* ----- MAIN SECTION ----- */
.main-section .container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(circle, #353536, #2c2c2d, #232324, #1b1b1b, #121212, #0d0d0d, #070707, #000000, #000000, #000000, #000000, #000000);
}
.main-section .container .image {
  padding: 5%;
}
.main-section .container .image img {
  height: 85vh;
  border-radius: 5px;
  opacity: 0.8;
}
.main-section .container .best-movie-info {
  padding: 7%;
  color: white;
}
.main-section .container .best-movie-info h2 {
  font-size: xxx-large;
}
.main-section .container .best-movie-info button {
  border: none;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: large;
  border-radius: 10px;
  background-color: #e7e7e7;
}
.main-section .container .best-movie-info button:hover {
  background-color: #686868;
  color: white;
  cursor: pointer;
}

/* ----- CAROUSEL ----- */
.carousel-header {
  margin-top: 7%;
}

.carousel {
  color: white;
}
.carousel section {
  flex-direction: row;
}
.carousel section.deactivate {
  display: none;
}
.carousel section.fade-left {
  animation: fade-left 1s;
}
.carousel section.fade-right {
  animation: right 0.2s;
}
.carousel section .items {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.carousel section .items button {
  flex-basis: 5%;
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
  font-size: 3rem;
  padding: 2%;
  transition: all 0.5s;
}
.carousel section .items button:hover {
  color: gray;
  transform: scale(1.2);
}
.carousel section .items .item {
  flex-basis: 22.5%;
  display: flex;
  justify-content: center;
}
.carousel section .items .item img {
  height: 100%;
  transition: all 0.5s;
  border-radius: 5px;
}
.carousel section .items .item img:hover {
  transform: scale(1.2);
}

@keyframes fade-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes fade-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
/* ----- MODALE ----- */
#modal.active {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 70%;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 10%;
  opacity: 95%;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
#modal.active .movie {
  display: flex;
  flex-direction: row;
}
#modal.active .movie .info-left {
  padding: 10px;
}
#modal.active .movie .info-left .image {
  height: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}
#modal.active .movie .info-right {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#modal.active .movie .info-right .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#modal.active .movie .info-right .header .title {
  flex-basis: 70%;
  padding: 0;
  color: black;
  text-align: left;
}
#modal.active .movie .info-right .header .imdb-score {
  flex-basis: 30%;
  text-align: right;
}
#modal.active .movie .info-right .first-level {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#modal.active .movie .info-right .first-level .genre {
  flex-basis: 33%;
}
#modal.active .movie .info-right .first-level .countries {
  flex-basis: 33%;
}
#modal.active .movie .info-right .first-level .date {
  flex-basis: 33%;
}
#modal.active .movie .info-right .second-level {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#modal.active .movie .info-right .second-level .duration {
  flex-basis: 33%;
}
#modal.active .movie .info-right .second-level .rating {
  flex-basis: 67%;
}
#modal.active .movie .info-right .third-level {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#modal.active .movie .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0 10px;
}
#modal.active .movie .close:hover {
  color: #2b2b2b;
  cursor: pointer;
}
#modal.deactivate {
  display: none;
}

/* ----- FOOTER ----- */
footer {
  text-align: center;
  height: 30vh;
  color: white;
  background-image: linear-gradient(to bottom, #000000, #0d0d0d, #161616, #1d1d1d, #252525);
}

/*# sourceMappingURL=styles.css.map */
