html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Condensed', 'Montserrat', 'Roboto', 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

/* ----- NAVBAR ----- */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.05));
  position: fixed;
  width: 100%;
  z-index: 1;

  &--solid {
    background-color: rgba(0, 0, 0, 0.8);
  }

  & .logo {
    padding: 25px;
    margin-right: auto;
    font-size: x-large;

    & a {
      color: red;
      font-family: "Montserrat";
      font-weight: 900;
      scroll-behavior: smooth;
    }
  }

  & .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 10px;
    color: white;

    & .nav-item {
      margin: 10px;
      text-align: center;

      & a {
        color: white;
      }
    }
  }

  & .burger-icon {
    color: white;
    padding: 15px;
    font-size: 2rem;
    display: none;

    &:hover {
      color: darken(white, 50%);
      cursor: pointer;
    }
  }
}

@media all and (max-width: 844px) {
  .navbar {
    &.burger-menu {
      display: flex;
      flex-direction: column;
      z-index: 2;

      & .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        & .logo-icon {
          flex-basis: 80%;
        }

        & .burger-icon {
          flex-basis: 20%;
          text-align: center;
        }
      }

      & .deactivate {
        display: none;
      }

      & .burger-nav {
        width: 100%;
        opacity: 0.9;

        & .nav-items {
          display: flex;
          flex-direction: column;

          & .nav-item {
            flex-basis: 100%;
            margin: 0;
            padding: 2%;

            &:hover {
              background-color: lighten(black, 30%);
            }
          }
        }
      }
    }

    & .nav-items {
      & .nav-item {
        //display: none;
      }
    }

    & .burger-icon {
      display: block;
    }
  }
}

/* ----- MAIN SECTION ----- */
.main-section {
  & .container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle, #353536, #2c2c2d, #232324, #1b1b1b, #121212, #0d0d0d, #070707, #000000, #000000, #000000, #000000, #000000);

    & .image {
      padding: 5%;

      & img {
        height: 85vh;
        border-radius: 5px;
        opacity: 0.8;
      }
    }

    & .best-movie-info {
      padding: 7%;
      color: white;

      & h2 {
        font-size: xxx-large;
      }

      & button {
        border: none;
        padding: 10px 50px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-size: large;
        border-radius: 10px;
        background-color: #e7e7e7;

        &:hover {
          background-color: darken(#e7e7e7, 50%);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@media all and (max-width: 844px) {
  .main-section {
    & .container {
      position: relative;

      & .best-movie-info {
        z-index: 1;
      }

      & .image {
        width: 100%;

        opacity: 0.3;

        & img {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
}

/* ----- CAROUSEL ----- */
.carousel-header {
  & h1 {
  margin-top: 7%;
  }
}

.carousel {
  color: white;

  & section {
    flex-direction: row;

    &.deactivate {
      display: none;
    }

    & .items {
      display: flex;
      flex-direction: row;
      height: 100%;

      & button {
        flex-basis: 5%;
        cursor: pointer;
        background-color: black;
        border-color: black;
        color: white;
        font-size: 3rem;
        padding: 2%;
        transition: all 0.5s;

        &:hover {
          color: darken(white, 50%);
          transform: scale(1.2);
        }
      }

      & .item {
        flex-basis: 22.5%;
        display: flex;
        justify-content: center;

        & img {
          height: 100%;
          transition: all 0.5s;
          border-radius: 5px;
          border: 1px solid #313131;

          &:hover {
            transform: scale(1.2);
            filter: drop-shadow(0 0 0.75rem white);

          }
        }
      }
    }

  }
}

@media all and (max-width: 844px) {
  .carousel {
    & .slides {

      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

      & .items {
        & .arrow {

        }

        & .item {
          display: flex;
          align-items: center;

          & img {
          }
        }
      }
    }
  }

}

/* ----- MODALE ----- */
#modal {
  &.active {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70%;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 10%;
    opacity: 95%;
    color: black;
    padding: 10px;
    border-radius: 5px;

    & .movie {
      display: flex;
      flex-direction: row;

      & .info-left {
        padding: 10px;

        & .image {
          height: 100%;
          border-radius: 5px;
          border: 1px solid grey;
        }
      }

      & .info-right {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: auto;

        padding: 10px;

        & .header {
          display: flex;
          flex-direction: row;
          align-items: center;

          & .title {
            flex-basis: 70%;
            padding: 0;
            color: black;
            text-align: left;
          }

          & .imdb-score {
            flex-basis: 30%;
            text-align: right;
          }
        }

        & .first-level {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          & .genre {
            flex-basis: 33%;
          }

          & .countries {
            flex-basis: 33%;
          }

          & .date {
            flex-basis: 33%;
          }
        }

        & .second-level {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          & .duration {
            flex-basis: 33%;
          }

          & .rating {
            flex-basis: 67%;
          }
        }

        & .third-level {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }

      & .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        padding: 0 10px;

        &:hover {
          color: darken(#aaa, 50%);
          cursor: pointer;
        }
      }
    }
  }

  &.deactivate {
    display: none;
  }
}

@media all and (max-width: 844px) {
  #modal {
    & .movie {
      & .info-left {
        display: none;
      }
      & .info-right {
        & .first-level {
          }
        }
      }
    }
  }



/* ----- FOOTER ----- */
footer {
  text-align: center;
  height: 30vh;
  color: white;
  background-image: linear-gradient(to bottom, #000000, #0d0d0d, #161616, #1d1d1d, #252525);
}


