@import "./abstracts/variables";
@import "./base/base";
@import "./layout/navigation";
@import "./layout/main_section";
@import "./layout/footer";
@import "./components/modal";



/* ----- CAROUSEL ----- */
.carousel-header {
  & h1 {
    margin-top: 7%;
  }
}

.carousel {
  color: white;

  & section {
    flex-direction: row;

    &.deactivate {
      display: none;
    }

    & .items {
      display: flex;
      flex-direction: row;
      height: 100%;

      & button {
        flex-basis: 5%;
        cursor: pointer;
        background-color: black;
        border-color: black;
        color: white;
        font-size: 3rem;
        padding: 2%;
        transition: all 0.5s;

        &:hover {
          color: darken(white, 50%);
          transform: scale(1.2);
        }
      }

      & .item {
        flex-basis: 22.5%;
        display: flex;
        justify-content: center;

        & img {
          height: 100%;
          transition: all 0.5s;
          border-radius: 5px;
          border: 1px solid #313131;

          &:hover {
            transform: scale(1.2);
            filter: drop-shadow(0 0 0.75rem white);

          }
        }
      }
    }
  }
}

@media all and (max-width: 844px) {
  .carousel {
    & .slides {

      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

      & .items {
        & .arrow {

        }

        & .item {
          display: flex;
          align-items: center;

          & img {
          }
        }
      }
    }
  }
}







/* ----- TEST ----- */
.carousel {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .slider {
    height: 380px;
    width: 95%;
    position: relative;
    overflow: hidden;

    & .slide {
      position: absolute;
      width: 25%;
      height: 90%;
      transition: all 0.5s;
      display: flex;
      justify-content: center;
      padding: 30px 0;

      & img {
        height: 95%;
        //object-fit: none;
        border-radius: 5px;
        transition: all 0.5s;
        scroll-behavior: smooth;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          filter: drop-shadow(0 0 0.75rem white);
        }
      }
    }

    .btn {
      position: absolute;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: none;
      border-radius: 50%;
      z-index: 10;
      cursor: pointer;
      background-color: #fff;
      font-size: 18px;

      &.btn:active {
        transform: scale(1.1);
      }
    }

    .btn-left {
      top: 45%;
      left: 2%;
    }

    .btn-right {
      top: 45%;
      right: 2%;
    }
  }
}


