@import "../abstracts/variables";

/* ----- FOOTER ----- */
footer {
  text-align: center;
  height: 30vh;
  color: white;
  background-image: linear-gradient(to bottom, #000000, #0d0d0d, #161616, #1d1d1d, #252525);
}